<html>
    <body>
        <div>
            <p>TODOの編集</p>
            <hr />
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <table>
                <tbody>
                    <tr>
                        <th>タスク名</th>
                        <td>
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </td>
                    </tr>       
                    <tr>
                        <th>期限日</th>
                        <td>
                            {{ form_widget(form.limitDate) }}
                            {{ form_errors(form.limitDate) }}
                        </td>
                    </tr>       
                    <tr>
                        <th>状態</th>
                        <td>
                            {{ form_widget(form.status) }}
                            {{ form_errors(form.status) }}                            
                        </td>
                    </tr>               
                </tbody>
            </table>
            <hr />
            <p>{{ form_widget(form.submit) }}</p>
            {{ form_end(form) }}
        </div>
    </body>
</html>